RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

<Files ".env">
    Require all denied
</Files>
<FilesMatch "\.(sql|log|ini)$">
    Require all denied
</FilesMatch>